.TopNav {
    background-color: #6184a8;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 10;
    font-weight: bold;
    text-align: center;
}

.TopNav nav a {
    font-size: x-large;
    display: inline-block;
    padding: 1px 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.logoBar a {
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
    color: white;
}


.TopNav a:hover {
    color: yellow;
}

:any-link {
    color: black;
}

.logoBar {
    background-color: #6184a8;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2px auto;
}

.logoBar div:not(:first-child) {
    margin-left: 20px;
}

#LOGO {
    width: 250px;
    height: 40px;
}

#LOGO a {
    font-size: 30px;
}

/*.TopNav input {*/
/*    width: 250px;*/
/*    height: 30px;*/
/*    border: 0;*/
/*    border-radius: 2px;*/
/*    font-size: large;*/
/*}*/

.halfCircle {
    background-color: #6184a8;
    height: 30px;
    width: 60px;
    border-radius: 0 0 30px 30px;
    text-align: center;
    cursor: pointer;
}

.additionalSearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 40px;
    background-color: #6184a8;
    color: white;
    border-radius: 0 0 20px 20px;
    font-size: large;
    font-weight: bold;
}


/*** searchBar ****/
.searchContainer {
    position: relative;
    display: inline-block;
}

#searchBar {
    padding-right: 40px;
    height: 36px;
    width: 250px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 8px;
}

#searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton svg {
    fill: #555555;
    width: 25px;
    height: 25px;
}